@import './variables.scss';
@import './mixin.scss';
@import './border.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  font-size: 17px;
  // touch-action: none;
}
.app-container {
  padding-bottom: 50px;
}
van-field{
.van-cell__value.van-field__value{
  .van-field__error-message{
    position: absolute!important;
    top:0!important
  }
}
}